# Reference: https://coverage.readthedocs.io/en/latest/

[run]
branch = True
parallel = True
    
omit =
    */__init__.py

[report]
show_missing = True
fail_under = 90

[html]
directory = htmlcov

[xml]
output = xmlcov/coverage.xml