[flake8]
max-line-length = 100
ignore = C901, E501, E203, W503, E402
exclude =
    .vscode
    .github
    .ipynb_checkpoints
    .git,
    __pycache__,
    docs/conf.py,
    old,
    build,
    dist,
    .venv,
    .venv/*,
    **/.venv/,
    .pytest_cache,
    .tox,
    .python-version,
    conftest.py,
    Makefile