[flake8]
max-line-length = 88
ignore = E501, E203, W503
per-file-ignores =
	./server/__init__.py:E402,F401 
	./server/api.py:F401
exclude =
    .git
    __pycache__
    .venv
    .pytest_cache
    .vscode
    .github
	.ipynb_checkpoints
    docs/conf.py